.fond{
  background-color: #f2f2f2;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.text{
  text-align: center;
}
.listStyles{
  display: 'flex';
  flex-direction: 'row';
  align-items: 'center';
}
.center{
text-align: center;
}
.gras{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
