.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  align-items: center;
  align-content: flex-start;
  background-color: rgb(116, 115, 115);
  color:#fff;
}

#menu-deroulant, #menu-deroulant ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
  text-align: left;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
  display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
  display: inherit;
}
#menu-deroulant a {
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  color:#ffffff;
}
#menu-deroulant ul {
  position: absolute;
/* on cache les sous menus complètement sur la gauche */
  left: -999em;
  text-align: left;
  z-index: 1000;
}

button{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(27, 27, 27);
}

.test{
  margin-right: 25%;
}