<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navMenu">
        <a href="#">Categories</a>
        <a href="#">Best-sellers</a>
        <a href="#">Help</a>
        <a href="#">About us</a>
        <a href="#">Contact</a>
        <div class="dot"></div>
    </nav>
    <h1>E-Elan</h1>
</body>
</html>