.cartdiv{
    margin: 2% ;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

#cartimg{
    margin-top: 0;
    width: 160px;
    height: 150px;
    float: left;
   
    padding: 10% 0;
}
#productimg{
    padding: 2% 0;
    width: 55px ;
    height: 50px;
    float: left;

}
.shopinglist{
    justify-content: space-between;
}
#product{

    background-color: gray;
    height: 60px;
    width: 250px;
    margin-bottom: 15px;
    text-align: center;
    

}
#item{
    padding: 10% 0;
}
.cartdiv ul li {
    text-decoration: none;
    list-style-type: none;
    
}